body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
    font-size: 16px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

*, *::before, *::after {
    box-sizing: border-box;
}
h1 , h2 , h3 , p , ul {
    margin: 0;
}
ul {
    padding-left: 0;
}
img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 1158px;
    padding: 0 44px;
    margin: 0 auto;
}
.page-header .container {
    display: flex;
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    line-height: 1.11;
    text-align: center;
    color: #2E2F42;
}
.three-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.section-two ul .text {
    line-height: 1.5;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.page-header {
    background-color: #FFFFFF;
    color: #2E2F42;
    line-height: 1.5;
}
.address {
    font-style: normal;
}

.menu {
    display: flex;
    gap: 40px;
}

.address-header .link {
    font-family: "Roboto" sans-serif;
    font-size: 16px;
    color: #434455;
    font-style: normal;
    letter-spacing: 0.02em;
    display: block;
    padding: 24px 40px;
    justify-content: flex-end;
}
.address-header .link:hover, .address-header .link:focus {
    color: #404bbf;
}
.section-one {
    background-color: #2E2F42;
}
.page-title {
    font-size: 56px;
    text-align: center;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: white;
}
.button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-align: center;
    background-color: #4D5AE5;
    color: white;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.button:hover, .button:active, .button:focus {
    background-color: #404BBF;
}

.category-header , .address-header {
    display: flex;
}
.category-header .link {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2E2F42;
    display: block;
    padding: 24px 40px;
}
.category-header .link:hover, .category-header .link:focus {
    color: #404BBF;
}
.category-header .link:active {
    text-decoration: underline;
    color: #404BBF;
}
.section-team {
    background-color: #F4F4FD;
}
.workers {
    background-color: #FFFFFF;
}
.section-team .text {
    font-size: 16px;
    line-height: 1.5;
}
.section-four .title{
    font-size: 36px;
    color: #2e2f42;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
}
.section-four .three-title {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.section-four .text{
    line-height: 1.5;
}

.page-footer {
    background-color: #2E2F42;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    line-height: 1.5;
}
.decoration-header{
    color: #2e2f42;
}
.decoration {
    color: #f4f4fd;
}

.logo-header {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #4d5ae5;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
